{#
/**
 * @file
 * Profile beprime map block.
 */
#}
<div class="col-sm-3 beprime-map-block">
    <h5>Map markup here!</h5>
    <div id="map" data-title="{{ title }}" data-lat="{{ lat }}" data-lon="{{ log }}" data-addr="{{ address }}"></div>
</div>