{#
/**
 * @file
 * Profile beprime map block.
 */
#}
<div class="beprime-map-block">
    <div id="map" data-title="{{ title }}" data-lat="{{ lat }}" data-lon="{{ log }}" data-addr="{{ address }}"></div>
</div>